<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS</title>
    <%- include('partials/includes-top') %>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1 class="mb-2">Posts</h1>
        <a href="/panel/new" class="btn btn-success mb-2 btn-lg">New Post</a>
      </div>
      <div class="text-center text-danger mt-5">
        <% if (!posts.length) { %>
          <h1>There are no posts yet!</h1>
         <% } %>
      </div>
      <% posts.forEach((post) => { %> 
      <div class="card mt-5 border border-info">
        <img class="card-img-top" src="<%= post.url %> " alt="Card image cap" height="450">
        <div class="card-body">
          <div class="text-center">
            <a href = "/posts/<%= post.id %> " class="card-title link-primary h3"><%= post.title %></a>
          </div>
          <p class="card-text mt-3"><%= post.description %> </p>
          <p class="card-text mb-0"><small class="text-muted"><%= post.date %></small></p>
          <div class="text-end">
            <a href="/posts/<%= post.id %>/edit" class="btn btn-info">Edit</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="post" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</a>
            </form>
          </div>
      </div>
    </div>
    <% }) %> 
    <%- include('partials/includes-bottom') %>
  </body>
</html>