<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %> </title>
    <%- include('partials/includes-top') %>
  </head>
  <body>
    <div class="container">
      <div class="card mb-3">
        <img src="/<%= post.image_url %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h1 class="display-1 text-center mb-3"><%= post.title %></h1>
          <div class="container card border-dark">
            <p class="card-text"><%= post.content %></p>
          </div>
          <p class="card-text">
            <div>
              <p class="card-text mb-0"><small class="text-muted">Created at <%= Date(post.created_at).toLocaleString() %> </small></p>
              <% if (post.updated_at !== post.created_at) { %>
                <p class="card-text mb-0"><small class="text-muted">Last updated at <%= Date(post.updated_at).toLocaleString() %> </small></p>
              <% } %>
            </div>
          </p>
          <div>
            <div class="d-inline">
              <% if (post.tags) { %>
                <span class="text-muted">tags: </span>
                <% post.tags.forEach((tag) => { %>
                  <a href="/tags/<%= tag %> "class="btn-sm btn-secondary m1-1"><%= tag %></a>
                <% }) %>
              <% } %>
            </div>
            <div class="text-start mt-2">
              <a href="/" class="btn btn-warning">Go back</a>
            </div>
            <div class="text-end">
                <a href="<%= post.id %>/edit" class="btn btn-info">Edit</a>
              <form action="/posts/<%= post.id %>?_method=DELETE" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/includes-bottom') %>
  </body>
</html>
